.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header {
    width: 90%;
    padding: 10px;
    margin: 10px;
    display: flex;
    /* flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center; */
}

.logo {
    width: 380px;
}